<h1>Hi there!</h1>
<p>Welcome to my Idea app! I created this app for you to store ideas. </p>
<p>What kind of ideas, you ask? Well, that's up to you! Maybe you're planning your holiday
and would like to save a few great spots you've seen online. Or you're planning on
redecorating your bedroom and want a place to store some inspiration. </p>
<p> This app was created for you, so let your imagination and creativity run wild
  and start saving great ideas!!</p>
